<h1>Editing Exchange Combination</h1>

<%= render 'form', exchange_combination: @exchange_combination %>

<%= link_to 'Show', @exchange_combination %> |
<%= link_to 'Back', exchange_combinations_path %>
