<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #e3f2fd;">
    <%= link_to 'Exchange', root_path, class: 'navbar-brand' %>
    <%= render 'layouts/navigation_links' %>
  </nav>
</div>